.changelog-container{

    /* COMMITS */
    .changelog-commit-holder{
        display: flex;
        flex-direction: row;
        user-select: none;
        justify-content: space-between;

        background-color: #eee;
        cursor: pointer;
        border-radius: 10px;
        padding: 15px 20px;
        margin-bottom: 20px;
        transition: all 0.2s ease-in;

        .changelog-commit-count{

        }

        .changelog-commit-repo-name{

        }

        &:hover{
            background-color: #ddd;
            transition: all 0.1s ease-out;
        }
    }

    /* COMMITS LIST */
    .commits{
        border-radius: 10px;

        .commit{
            padding: 20px;
            transition: all 0.2s ease-in;

            &:not(:last-child){
                border-bottom: 1px solid #ccc;
            }

            .commit-date{
                display: inline-block;
            }
            .commit-title{
                display: inline-block;
                margin-left: 15px;
                font-weight: 600;
            }
            .commit-message{
                margin-top: 10px;
            }

            &:hover{
                background-color: #f7f7f7;
                transition: all 0.1s ease-out;
            }
        }
    }

    /* CHAPTER */
    .changelog-chapter {
        position: relative;
        padding: 15px 20px;
        margin: 20px 0;
        background-color: #f7f7f7;
        border-radius: 10px;

        &:hover .title-button {
            opacity: 1;
            transition: all 0.2s ease-out;
        }

        h2{

            &.edit-title {
                font-size: 2.2rem;
                margin-bottom: 10px;
            }
        }

        select {
            position: absolute;
            left: -70px;
            top: 12px;
            width: 64px;
        }

        .ql-editor {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-size: 1rem;
            padding: 12px 5px;
            color: #333;

            h1 {
                color: #111;
                font-weight: 700;
                border-bottom: 1px solid #bdbdbd;
                padding-bottom: 8px;
                margin-bottom: 12px;
            }

            h2 {
                color: #222;
                font-weight: 600;
                margin-bottom: 7px;
            }

            p {
                line-height: 165%;
                color: #333;
            }
        }

        select {
            font-size: 1.5rem;
            margin-right: 10px;
        }

        input.edit-title {
            font-size: 1.5rem;
        }

        .title-button {
            position: absolute;
            cursor: pointer;
            text-decoration: none;
            right: 10px;
            top: 10px;
            line-height: 34px;
            border: 1px solid #ccc;
            margin: 8px 0;
            color: #333;
            padding: 0 24px;
            font-size: 14px;
            text-align: center;
            border-radius: 18px;
            opacity: .25;
            background-color: #fff;
            transition: all 0.1s ease-in;

            &:hover {
                background-color: white;
                border: 1px solid #3e78e2;
                color: #223dd1;
                transition: all 0.2s ease-out;
            }

            &:active {
                background-color: #c7d0ee;
                transition: all 0.2s ease-out;
            }
        }
    }
}
