body #changelog_holder {
    margin: 0 auto;
    max-width: 1020px;
    min-width: 870px;
}

body #changelog_holder .styled-button {
    cursor: pointer;
    padding: 5px 25px;
    line-height: 42px;
    vertical-align: top;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    background-color: #ccc;
    border-radius: 3px;
    border: 0;
    transition: all 0.1s ease-in;
}

body #changelog_holder .styled-button:hover {
    background-color: #ddd;
    transition: all 0.2s ease-out;
}

body #changelog_holder .button-holder {
    position: fixed;
    z-index: 100;
    width: 240px;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(240%);
            transform: translateY(240%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-content: center;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 10px 20px #999;
}

body #changelog_holder .button-holder .styled-button {
    text-align: center;
    text-decoration: none;
    padding: 5px 25px;
    line-height: 32px;
    background-color: #12dca4;
    color: white;
    flex: 1;
    margin-bottom: 10px;
    transition: all 0.2s ease-out;
}

body #changelog_holder .button-holder .styled-button:hover {
    background-color: #2fe9b4;
    transition: all 0.2s ease-out;
}

body #changelog_holder .button-holder .styled-button.cancel {
    background-color: transparent;
    border: 1px solid #ccc;
    line-height: 30px;
    color: #999;
}

body #changelog_holder .button-holder .styled-button.cancel:hover {
    border: 1px solid #af5c5c;
    color: #8a0e0e;
    transition: all 0.2s ease-out;
}

body #changelog_holder .button-holder .styled-button.save {
    float: right;
    background-color: #12dca4;
    color: white;
    transition: all 0.2s ease-out;
}

body #changelog_holder .button-holder .styled-button.save:hover {
    background-color: #2fe9b4;
    transition: all 0.2s ease-out;
}

body #changelog_holder .button-holder .styled-button.delete {
    background-color: #971d1d;
    color: #fff;
}

body #changelog_holder .button-holder .styled-button.delete:hover {
    background-color: #af5c5c;
    transition: all 0.2s ease-out;
}

body #changelog_holder #table_of_contents {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px 20px;
    margin-bottom: 50px;
}

body #changelog_holder #table_of_contents a {
    display: block;
    position: relative;
    border-radius: 3px;
    padding: 0 25px;
    line-height: 34px;
    text-decoration: none;
    transition: all 0.1s ease-in;
}

body #changelog_holder #table_of_contents a:hover {
    background-color: #fff;
    transition: all 0.2s ease-out;
}

body #changelog_holder #table_of_contents a:not(:last-child) {
    margin-bottom: 4px;
}

body #changelog_holder #table_of_contents a:before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: 15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #333;
}

body #changelog_holder .changelog-container .changelog-chapter {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

body #changelog_holder .changelog-container .changelog-chapter select {
    position: absolute;
    left: -70px;
    top: 12px;
    width: 64px;
}

body #changelog_holder .changelog-container .changelog-chapter:hover .title-button {
    opacity: 1;
    transition: all 0.2s ease-out;
}

body #changelog_holder .changelog-container .changelog-chapter h2.edit-title {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

body #changelog_holder .changelog-container .changelog-chapter .ql-editor {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    padding: 12px 5px;
    color: #333;
}

body #changelog_holder .changelog-container .changelog-chapter .ql-editor h1 {
    color: #111;
    font-weight: 700;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

body #changelog_holder .changelog-container .changelog-chapter .ql-editor h2 {
    color: #222;
    font-weight: 600;
    margin-bottom: 7px;
}

body #changelog_holder .changelog-container .changelog-chapter .ql-editor p {
    line-height: 165%;
    color: #333;
}

body #changelog_holder .changelog-container .changelog-chapter select {
    font-size: 1.5rem;
    margin-right: 10px;
}

body #changelog_holder .changelog-container .changelog-chapter input.edit-title {
    font-size: 1.5rem;
}

body #changelog_holder .changelog-container .changelog-chapter .title-button {
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    right: 0;
    top: 0;
    line-height: 34px;
    border: 1px solid #ccc;
    margin: 8px 0;
    color: #999;
    padding: 0 14px;
    font-size: 14px;
    text-align: center;
    border-radius: 18px;
    opacity: 0;
    background-color: #fff;
    transition: all 0.1s ease-in;
}

body #changelog_holder .changelog-container .changelog-chapter .title-button:hover {
    background-color: white;
    border: 1px solid #3e78e2;
    color: #223dd1;
    transition: all 0.2s ease-out;
}

body #changelog_holder .changelog-container .changelog-chapter .title-button:active {
    background-color: #c7d0ee;
    transition: all 0.2s ease-out;
}
