#documentation_holder{

    .documentation-chapter-holder{
    }

    #subchapter_list{

        .subchapter_holder{

            .delete-subchapter-button{
                text-align: center;
                background-color: #ffcccc;
                margin: 10px 0;
            }

        }
    }

    .side-content-table-holder{
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        z-index: 10;
        display: flex;
        padding: 10px 0;
        flex-direction: column;
        transition: all .2s ease-in-out;

        .side-content-table{
            width: 180px;
            padding: 10px;
            border-radius: 0 10px 10px 0;
            background-color: hsl(0deg 0% 77.49% / 14%);
            backdrop-filter: blur(10px);
            transform: translateX(-180px);
            transition: all .2s ease-in-out;
        }

        &:hover{

            .side-content-table{
                transform: translateX(0px);
                transition: all .2s ease-in-out;

                .side-content-table-subject{
                    &:before {
                        left: calc(50% + 10px);
                        opacity: 0;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }

        .side-content-table-subject{
            position: relative;

            a{
                display: block;
                position: relative;
                margin: 5px 0;
                font-size: 0.8rem;
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                color: #666;
                transition: all .2s ease-in;

                &:hover{
                    color: blue;
                    transition: all .1s ease-out;
                }

                &.subchapter{
                    margin-left: 20px;
                }
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: calc(100% + 10px);
                top: 50%;
                width: 15px;
                height: 2px;
                background-color: blue;
                opacity: 1;
                transition: all .2s ease-in-out;
            }

            &.sub{

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: calc(100% + 10px);
                    top: 50%;
                    width: 7px;
                    height: 2px;
                    background-color: blue;
                    opacity: 1;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
}

.documentation-container{

    .documentation-chapter {
        position: relative;
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
        margin-bottom: 40px;

        &:hover .title-button {
            opacity: 1;
            transition: all 0.2s ease-out;
        }

        .documentation-body-holder{
            line-height: 170%;

            select {
                position: absolute;
                left: -70px;
                top: 12px;
                width: 64px;
            }

            p, span, h1, h2, h3, h4{
                padding: 0;
                margin-bottom: 20px;
            }

            ul{
                margin-bottom: 20px;
                list-style: disc;
                li{

                    margin-bottom: 10px;
                }
            }

            ol{
                margin-bottom: 20px;
                list-style: decimal;

                li{
                    margin-bottom: 10px;
                }
            }

            p{
            }

            span{
                display: inline;
            }
        }


        h2.edit-title {
            font-size: 2.2rem;
            margin-bottom: 10px;
        }

        .ql-editor {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-size: 1rem;
            padding: 12px 5px;
            color: #333;
        }

        .ql-editor h1 {
            color: #111;
            font-weight: 700;
            border-bottom: 1px solid #bdbdbd;
            padding-bottom: 8px;
            margin-bottom: 12px;
        }

        .ql-editor h2 {
            color: #222;
            font-weight: 600;
            margin-bottom: 7px;
        }

        .ql-editor p {
            line-height: 165%;
            color: #333;
        }

        select {
            font-size: 1.5rem;
            margin-right: 10px;
        }

        input.edit-title {
            font-size: 1.5rem;
        }

        .title-button {
            position: absolute;
            cursor: pointer;
            text-decoration: none;
            right: 0;
            top: 0;
            line-height: 34px;
            border: 1px solid #ccc;
            margin: 8px 0;
            color: #999;
            padding: 0 14px;
            font-size: 14px;
            text-align: center;
            border-radius: 18px;
            opacity: 0;
            background-color: #fff;
            transition: all 0.1s ease-in;

            &:hover {
                background-color: white;
                border: 1px solid #3e78e2;
                color: #223dd1;
                transition: all 0.2s ease-out;
            }

            &:active {
                background-color: #c7d0ee;
                transition: all 0.2s ease-out;
            }
        }

        .subchapter_display{
            position: relative;
        }
    }
}
