#documentation_holder{

    .documentation-chapter-holder{
    }

    #subchapter_list{

        .subchapter-holder{

        }
    }
}

.documentation-container{

    .documentation-chapter {
        position: relative;
        border-bottom: 1px solid #ccc;
        padding-bottom: 40px;
        margin-bottom: 40px;

        &:hover .title-button {
            opacity: 1;
            transition: all 0.2s ease-out;
        }

        select {
            position: absolute;
            left: -70px;
            top: 12px;
            width: 64px;
        }

        h2.edit-title {
            font-size: 2.2rem;
            margin-bottom: 10px;
        }

        .ql-editor {
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
            font-size: 1rem;
            padding: 12px 5px;
            color: #333;
        }

        .ql-editor h1 {
            color: #111;
            font-weight: 700;
            border-bottom: 1px solid #bdbdbd;
            padding-bottom: 8px;
            margin-bottom: 12px;
        }

        .ql-editor h2 {
            color: #222;
            font-weight: 600;
            margin-bottom: 7px;
        }

        .ql-editor p {
            line-height: 165%;
            color: #333;
        }

        select {
            font-size: 1.5rem;
            margin-right: 10px;
        }

        input.edit-title {
            font-size: 1.5rem;
        }

        .title-button {
            position: absolute;
            cursor: pointer;
            text-decoration: none;
            right: 0;
            top: 0;
            line-height: 34px;
            border: 1px solid #ccc;
            margin: 8px 0;
            color: #999;
            padding: 0 14px;
            font-size: 14px;
            text-align: center;
            border-radius: 18px;
            opacity: 0;
            background-color: #fff;
            transition: all 0.1s ease-in;

            &:hover {
                background-color: white;
                border: 1px solid #3e78e2;
                color: #223dd1;
                transition: all 0.2s ease-out;
            }

            &:active {
                background-color: #c7d0ee;
                transition: all 0.2s ease-out;
            }
        }
    }
}
